                <div class="col-12 col-md-6 col-lg-4">


                    <div class="mb-3 mb-lg-5  ms-lg-5 me-lg-5 ">
                        <div class="ads1 d-flex align-items-center justify-content-center mt-5"></div>
                        <div class="ads2 d-flex align-items-center justify-content-center mt-5"></div>
                    </div>


                </div>