         <article class="snippet article-snippet">
                <a href="{{ post.url }}">	<img class="lazy" data-srcset="{{ post.data.image }}"  src="/assets/img/lazy-load.jpg" class="snippet__image" alt="{{post.data.imageAlt}}"></a>
                <p class="snippet__tag"><span>post,</span><i class='bx bxs-tag-alt' style='color:#ffffff' ></i>{{ post.data.tags }}</p>
                <a href="{{ post.url }}"><h3 class="snippet__title mt-3 ">{{ post.data.title }}</h3></a>
            <p class="snippet-meta">by <a href="/author/"><span class="author">{{ post.data.author }}</span></a> on <span>{{ post.date | postDate }}</span></p>
          </article>




