<footer class=" text-light">
    <div class="container">
        <div class="f-items default-padding">
            <div class="row">
                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item about">
                        <div class="brand">
                            <img src="/assets/img/techgruvassets/footer-logo1.svg" alt="Logo">
                            <a href="/">Techgruv</a>
                            <p>Just Technopreneurship</p>
                        </div>
                        <div class="address">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="bx bx-envelope"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Email:</h5>
                                        <span>techgruvcom@gmail.com</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="bx bx-phone-call"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Phone:</h5>
                                        <span>+234-901-857-7780</span>
                                    </div>
                                </li>
                                <li class="social">
                                    <a href="https://instagram.com/techgruv"><i class="bx bxl-instagram"></i></a>
                                    <a href="https://facebook.com/techgruv"><i class="bx bxl-facebook"></i></a>
                                    <a href="https://twitter.com/techgruv"><i class="bx bxl-twitter"></i></a>
                                    <a href="https://www.linkedin.com/company/techgruv"><i
                                            class="bx bxl-linkedin"></i></a>
                                    <a href="https://youtube.com/c/techgruv"><i class="bx bxl-youtube"></i></a>
                                    <a href="https://vm.tiktok.com/ZMLp6un9L/"><i class="bx bxl-tiktok"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Company</h4>
                        <ul>
                            <li>
                                <a href="/services/">Services</a>
                            </li>
                            <li>
                                <a href="/">Blog</a>
                            </li>
                            <li>
                                <a href="/affiliate/">Affliate</a>
                            </li>
                            <li>
                                <a href="/team/">Team</a>
                            </li>
                            <li>
                                <a href="/contact/">Contact Us</a>
                            </li>
                            <li>
                                <a href="/advert/">Advertise With Us</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 item">
                    <div class="f-item link">
                        <h4 class="widget-title">Social Media</h4>
                        <ul>
                            <li>
                                <a href="https://instagram.com/techgruv">Instagram</a>
                            </li>
                            <li>
                                <a href="https://facebook.com/techgruv">Facebook</a>
                            </li>
                            <li>
                                <a href="https://twitter.com/techgruv">Twitter</a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/company/techgruv">Linkedin</a>
                            </li>
                            <li>
                                <a href="https://youtube.com/c/techgruv">Youtube</a>
                            </li>
                            <li>
                                <a href="https://vm.tiktok.com/ZMLp6un9L/">Tiktok</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 item">
                    <div class="f-item recent-post">
                        <h4 class="widget-title">Recent News</h4>
                            {%- for post in collections.post.reverse() | limit(2) -%}

                            {% include 'footer-news.njk' %}

                            {%- endfor %}
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Start Footer Bottom -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md legal link">
                    <p>Copyright &copy; 2022.
                    <ul>
                        <li>
                            <a href="/terms/">Terms</a>
                        </li>
                        <li>
                            <a href="/privacy/">Privacy</a>
                        </li>
                        <li>
                            <a href="/disclaimer/">Disclaimer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer Bottom -->

</footer>
<!-- End Footer -->