<!-- ======= Header ======= -->
  <header id="header">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo ms-lg-0">
        <h1>
          <img src="/assets/img/logo.png" alt="logo">
          <a href="/">TechGruv.</a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="/">Home</a></li>
          <li><a class="nav-link" href="/latest/">Latest</a></li>
          <li><a class="nav-link" href="/business/">Business</a></li>
          <li><a class="nav-link" href="/technology/">Technology</a></li>
        </ul>

        <i class="bi bi-x search-close"  onclick="closeSearch()"></i>

        <i class="bi bi-list mobile-nav-toggle"></i>


      <button onclick="openSearch()"><i class="bi bi-search search-bar"></i></button>
      <form>
      <input type="search" class="search-form ps-2" placeholder="Search">
       </form>

      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->


  