          <div  class="d-flex flex-column align-items-center  sender-form-field" data-sender-form-id="f21bfd7f9d53eefcABT"></div>
          {# {<h2>Newsletter</h2>
          <span></span>
          <p>Subscribe to TechGruv Weekly Briefs below</p> #}
{# 
          <form style="text-align: left" class="email" id="lc9ff9t1dj16pb2v0ld">
                <input class="text email mb-4" placeholder="Your email address..." type="email" name="member[email]" >
            
                <input type="submit" value="Subscribe" name="member[subscribe]">
           
          </form>  #}
        </div>


