# dependencies installed by npm
node_modules

# build artefacts

# secrets and errors
.env
.log

# macOS related files
.DS_Store

#eleventy Search
netlify/functions/search/**  
!netlify/functions/search/index.js

