                <div class="side_bar d-none d-lg-block">
                    <h3 class="title">Follow and Join the community</h3>

                    <div class="side_body">

                        <div class="media-body d-flex flex-column">
                            <div class="media">
                                <a class="d-flex align-items-center" href="https://wa.me/message/4K7GHOUI66JFJ1"><i
                                        class='bi bi-whatsapp'></i>
                                    <span class="d-flex align-items-center">Whatsapp community</span>
                                </a>
                                <a href="https://wa.me/message/4K7GHOUI66JFJ1"><i class='bx bx-chevron-right'></i></a>
                            </div>

                            <div class=" media">
                                <a class="d-flex align-items-center" href="https://t.me/+5CsEkjVt81tiM2Rk"><i
                                        class='bi bi-telegram'></i>
                                    <span class="d-flex align-items-center">Telegram community</span>
                                </a>
                                <a href="https://t.me/+5CsEkjVt81tiM2Rk"><i class='bx bx-chevron-right'></i></a>
                            </div>

                            <div class="media">
                                <a class="d-flex align-items-center" href="https://twitter.com/techgruv"><i
                                        class='bi bi-twitter'></i>
                                    <span class="d-flex align-items-center">Twitter </span>
                                </a>
                                <a href="https://twitter.com/techgruv"><i class='bx bx-chevron-right'></i></a>
                            </div>

                            <div class="media">
                                <a class="d-flex align-items-center" href="https://www.linkedin.com/company/techgruv"><i
                                        class='bi bi-linkedin'></i>
                                    <span class="d-flex align-items-center">Linkedin </span>
                                </a>
                                <a href="https://www.linkedin.com/company/techgruv"><i
                                        class='bx bx-chevron-right'></i></a>
                            </div>

                            <div class="media">
                                <a class="d-flex align-items-center" href="https://youtube.com/c/techgruv"><i
                                        class='bi bi-youtube'></i>
                                    <span class="d-flex align-items-center">Youtube </span>
                                </a>
                                <a href="https://youtube.com/c/techgruv"><i class='bx bx-chevron-right'></i></a>
                            </div>

                            <div class="media ">
                                <a class="d-flex align-items-center" href="https://instagram.com/techgruv"><i
                                        class='bi bi-instagram'></i>
                                    <span class="d-flex align-items-center">Instagram</span>
                                </a>
                                <a href="https://instagram.com/techgruv"><i class='bx bx-chevron-right'></i></a>
                            </div>
                        </div>
                    </div>
                </div>

