                <div class="share-button d-flex align-items-center mb-2">
                    <span class="me-3">Share article:</span>
                    <a href="" id="fb"><i class='bx bxl-facebook-square' style='color:#4267b2'></i></a>
                    <a href="" id="twitter"><i class='bx bxl-twitter' style='color:#1da1f2'></i></a>
                    <a href="" id="linkedin"><i class='bx bxl-linkedin-square' style='color:#006192'></i></a>
                    <a href="" id="whatsapp"><i class='bx bxl-whatsapp-square' style='color:#25d366'></i></a>
                </div>