.courses  h3{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding: 10px;
    padding-bottom: 0;
    color: black;
} 

.courses p{
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
}

.courses .container .row{
    display: flex;
    align-items: center;
    justify-content: center;
}
.courses .col{
    margin-right: 20px;
    margin-bottom: 20px;
    height: 200px;
    width: 400px;
}

.courses .card img { 
    height: 200px;
    width: 400px;
}

.community{
    margin-top: 10px;
    margin-bottom: 10px;
    width: auto;
    height: 100px;
    background-color: rgba(0, 0, 255, 0.874);
}

.community h3{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 25px;
    padding-left: 15px;
    text-align: left;
    border-radius: 2px;
    color: white;
}

