@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color: #1F0BFF;
    margin: 0px;
    padding: 0;
}

#header {
  z-index: 997;
  transition: all 0.5s;
  padding: 0px 0;
  background: #ffffff;
}
#header .logo h1{
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  line-height: 1;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Poppins",sans-serif;
}

@media (max-width:600px) {
  #header .logo a{
    margin-left: -8px;
    font-size: 21px;
    letter-spacing: normal;
  }
  #header .logo img{
    height: 25px;
  }
}

#header .logo h1 a {
  color: blue;
  text-decoration: none;

}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 30px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

/**
* Mobile Navigation 
*/
.searchTerm{
  background-color: #ffffff;
  border: 3px solid #1F0BFF;
  border-right: none;
  outline: none;
  color: #3f3e3e;
  border-radius: 5px 0 0 5px;
  padding-left: 10px;
}


.searchTerm:focus{
  color: #000;
}

.search input{
 margin-right: -4px;
}

.searchButton{
  background-color: blue;
  color: #ffffff;
  height: 32px;
  border: 0;
  width: 40px;
  padding: 0;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
@media (max-width:600px) {
  .searchTerm{
    display: none;
  }
  .searchButton:hover, .searchTerm:hover{
    display: block;
  }
  .searchButton{
    border-radius: 5px;
  }
}


.searchButton i{
  font-size: 18px;
}

.soon{
  margin: 5%;
  padding: 0;
}
.soon img{
  width: 100%;
  max-width: 800px;
  height: auto;
  border: 5px solid blue;
}

.soon img:hover {
  transform: scale(1.01);
}

.soon  a{
  border: 5px solid #1F0BFF;
  color:white;
  font-weight: 700;
  text-decoration: none;
  background-color: blue;
  border-radius: 5px;
  padding: 2px 10px;
}
.soon a:hover{
  color:blue;
  border: 3px solid blue;
  background-color: rgb(255, 255, 255);
}
