---
title: Advertise With Us
layout: 'services-base.njk'
---
<!-- ======= About us Section ======= -->
<section id="advert" class="advert">
  <div class="container">
    <div class="row advert-head">
      <h1>A unique way for your brand to reach the readers community</h1>
    </div>
  </div>
</section>

<section id="advert" class="advert section-bg">
  <div class="container">
    <h4>Display your brand to thousands of audience on:</h4>
    <div class="row row-cols-1 row-cols-md-3 g-5 mt-4">
      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/1.png" alt="Social Media">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/2.png" alt="Newsletters">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>


      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/3.png" alt="Blog Ads">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>
    </div>


    <div class="row row-cols-1 row-cols-md-3 g-5 mt-4">

      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/4.png" alt="Sponsered Posts">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/5.png" alt="Sponsered Article">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img class="card card-img" src="/assets/img/advert/6.png" alt="Video Ads">
          <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          </div>
        </div>
      </div>



      <a class="text-center" href="/assets/TG-MEDIA-KIT.pdf">Explore Our Advert Rates and Audience</a>
    </div>




  </div>
  </div>
  </div>
</section>

<!-- End About Section -->