---
title: Author Page
layout: 'base.njk'
---

  <!-- ======= About us Section ======= -->
  <section id="author" class="auhtor section-bg">
    <div class="container" data-aos="fade-up">

Authors

    </div>
  </section>
  
  <!-- End About Section -->