---
title: Contact Page
layout: 'base.njk'
---


<div class="d-flex row">
<h3 class="text-center mt-5 mb-5">Authors</h3>

            <div class="author-container">
            <div class="author-bio">
                <img class="author-bio-image" src="/assets/img/author/am-daniel-bryte.png" alt="amdanielbryte">
                <div class="author-bio-content">
                <h2 class="author-bio-name">Daniel Bryte</h2>
                <p class="author-bio-body">
                    Ezediniru Daniel a.k.a Daniel Bryte is the founder, lead developer and content creator at TechGruv.
                </p>
                </div>
            </div>
            </div>


            <div class="author-container">
            <div class="author-bio">
                <img class="author-bio-image" src="/assets/img/author/chris-jerry.png" alt="">
                <div class="author-bio-content">
                <h2 class="author-bio-name">Chris Jerry</h2>
                <p class="author-bio-body">
                    Ezediniru Daniel a.k.a Daniel Bryte is the founder, lead developer and content creator at TechGruv.
                </p>
                </div>
            </div>
            </div>


</div>

