---
title: TechGruv | Services 
layout: 'base.njk'
---



    <div class="container mt-5 mb-5">
      <div class="success row d-flex align-items-center">
       <div class="success-wrap mt-5 mb-5 text-center text-white" data-aos="">
        <h1 class="mb-5">Successfully Sent</h1>
        <a href="https://techgruv.co">GO HOME</a>
       </div>
     </div>
    </div>