---
title: TechGruv | Team
layout: 'base.njk'
---


<section id="team" class="team">
    <div class="container">
        <h2 class="text-center font-weight-bold">Contact Us</h2>
        <div class="d-flex row">
            <h3 class="text-center mt-5 mb-1">Team</h3>
            <p class="text-center">The team behind the Digital and Media Company 'TechGruv'.
            <p>

            <div class="team-container">
                <div class="team-bio">
                    <img class="team-bio-image" src="/assets/img/author/am-daniel-bryte.png" alt="amdanielbryte">
                    <div class="team-bio-content">
                        <h2 class="team-bio-name">Daniel Bryte</h2>
                        <p class="team-bio-body">
                            Ezediniru Daniel a.k.a Daniel Bryte is the founder, lead developer and content creator at
                            TechGruv.
                        </p>
                        <div class="team-socials d-flex flex-column">
                            <p>Socials:</p>
                            <div class="d-flex flex-row">
                                <a class="d-flex align-items-center" href="https://twitter.com/amdanielbryte"><i
                                        class='bi bi-twitter'></i>
                                </a>

                                <a class="d-flex align-items-center" href="https://www.linkedin.com/in/danielbryte/"><i
                                        class='bi bi-linkedin'></i>
                                </a>

                                <a class="d-flex align-items-center" href="https://instagram.com/amdanielbryte"><i
                                        class='bi bi-instagram'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="team-container">
                <div class="team-bio">
                    <img class="team-bio-image" src="/assets/img/author/chris-jerry.png" alt="">
                    <div class="team-bio-content">
                        <h2 class="team-bio-name">Chris Jerry</h2>
                        <p class="team-bio-body">
                            Agba Christopher Jerry a.k.a Chris Jerry is the co-founder, and a content creator at
                            TechGruv.
                        </p>
                        <div class="team-socials d-flex flex-column">
                            <p>Socials:</p>
                            <div class="d-flex flex-row">
                                <a class="d-flex align-items-center" href="https://twitter.com/Christo57298509"><i
                                        class='bi bi-twitter'></i>
                                </a>

                                <a class="d-flex align-items-center" href="https://www.instagram.com/christopherjerry71/"><i
                                        class='bi bi-instagram'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>